header {
    padding-block: 40px;
    border-bottom: 1px solid hsl(220, 14%, 75%);
    margin-block-end: 50px;
    margin-inline: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu {display: none;}

.logo {
    margin-inline-end: 100px;
    border-radius: 0;
}

.menu-items a {
    margin-inline-end: 50px;
    text-decoration: none;
    color: hsl(219, 9%, 45%);
}
.menu-items a:hover {
    text-decoration: underline 3px hsl(26, 100%, 55%);
    text-underline-offset: 55px;
}

.cart-img {
    padding-block-end: 10px;
    cursor: pointer;
}

.mini {
    width: 25%;
}

.mini:hover {
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
    cursor: pointer;
}

.notif-nb {
    color: white;
    background-color: hsl(26, 100%, 55%);
    padding-inline: 10px;
    padding-block: 2px;
    border-radius: 12px;
    margin-inline-end: 50px;
}

.cart-previsualization {
    width: 400px;
    -webkit-box-shadow: 0px 22px 49px 6px rgba(0,0,0,0.25); 
    box-shadow: 0px 22px 49px 6px rgba(0,0,0,0.25);
    border-radius: 10px;
    position: absolute;
    right: 0px;
    top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-end: 20px;
    background-color: white;
}

.cart-previsualization h3 {
    padding-inline-end: 320px;
    padding-block-end: 15px;
    border-bottom: 1px solid hsl(220, 14%, 75%);
}

.cart-infos-price {
    text-align: left;
    display: grid;
    grid-template-areas: 
        'image title'
        'image results'
    ;
    grid-template-rows: 20px 50px;
    grid-template-columns: 70px 230px 25px;
}

.cart-infos-price > .thumbnail {
    grid-area: image;
    width: 70%;
}

.cart-infos-price > .title-cart {
    grid-area: title;
    line-height: 1;
    margin: 0;
}

.cart-infos-price > .results {
    grid-area: results;
    margin: 0;
}

.bold {
    font-weight: 700;
}

@media (max-width: 35em) {
    header {
        padding-block: 20px;
        margin-inline: 0;
        justify-content: space-around;
        border: none;
        margin-block-end: 10px;
    }
    .menu {border-radius: 0; display: block;}
    .logo {
        margin-inline-end: 0;
    }

    .menu-items a {
        display: none;
    }

    .cart-img {
        padding-inline-end: 20px;
    }
}

@media (max-width: 75em) {
    header {
        justify-content: space-around;
        margin-inline: 10px;
    }
    .menu {display: block; border-radius: 0;}
    .menu-items a {
        display: none;
    }
}