header {
    padding-block: 40px;
    border-bottom: 1px solid hsl(220, 14%, 75%);
    margin-block-end: 50px;
    margin-inline: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {display: none;}

.logo {
    margin-inline-end: 100px;
    border-radius: 0;
}

.menu-items a {
    margin-inline-end: 50px;
    text-decoration: none;
    color: hsl(219, 9%, 45%);
}

.cart-img {
    padding-inline-end: 50px;
    padding-block-end: 10px;
}

.mini {
    width: 25%;
}

@media (max-width: 35em) {
    header {
        padding-block: 20px;
        margin-inline: 0;
        justify-content: space-around;
        border: none;
        margin-block-end: 10px;
    }
    .menu {border-radius: 0; display: block;}
    .logo {
        margin-inline-end: 0;
    }

    .menu-items a {
        display: none;
    }

    .cart-img {
        padding-inline-end: 20px;
    }
}

@media (max-width: 75em) {
    header {
        justify-content: space-around;
        margin-inline: 10px;
    }
    .menu-items a {
        display: none;
    }
}